.border-bottom {
	border-bottom: 1px grey solid;
}
.theLabel {
	font-weight: bold;
	
}
.buffer {
	height: 10px;
}
.float-right {
	float: right;
}
.top-buffer {
	margin-top: 25px;
}
.user-list{
	height: 70px;
}